<section class="Happy-client-section">
    <h2 class="Client-Heading">Happy Clients</h2>
    <div class="Happy-client-first-note">
      <P>There are many variations of passages of Lorem Ipsum available,</P>
      <p>but the majority have suffered alteration.</p>
    </div>
    <div class="clients-logos">
      <div class="logo"><img src="./assets/images/google.png" alt="Google"></div>
      <div class="logo"><img src="./assets/images/dribbble.png" alt="Dribbble"></div>
      <div class="logo"><img src="./assets/images/linkedin.png" alt="LinkedIn"></div>
      <div class="logo"><img src="./assets/images/amazon.png" alt="Amazon"></div>
      <div class="logo"><img src="./assets/images/medium.png" alt="Medium"></div>
      <div class="logo"><img src="./assets/images/spotify.png" alt="Spotify"></div>
    </div>
  </section>
