<div class="work-process-section">
    <div class="container">
      <div class="left-content">
        <h1 class="heading">Work Process</h1>
        <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu, varius eget velit
          non,
          laoreet imperdiet orci. Mauris ultrices eget lorem ac vestibulum. Suspendis imperdiet,</p>
        <p id="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu, varius eget velit
          non.
        </p>
      </div>
      <div class="right-content">
        <div class="process-step">
          <div class="icon-box image-back">
            <img src="assets/images/notes.png" alt="Research Icon" class="step-icon">
          </div>
          <h3>1. Research</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
        <div class="process-step">
          <div class="icon-box">
            <img src="assets/images/Vector.png" alt="Analyze Icon" class="step-icon">
          </div>
          <h3>2. Analyze</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
        <div class="process-step">
          <div class="icon-box">
            <img src="assets/images/Pencil.png" alt="Design Icon" class="step-icon">
          </div>
          <h3>3. Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
        <div class="process-step">
          <div class="icon-box">
            <img src="assets/images/computer.png" alt="Launch Icon" class="step-icon">
          </div>
          <h3>4. Launch</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus arcu.</p>
        </div>
      </div>
    </div>
  </div>
