    <section class="testimonial">
      <h2 class="testimonial-Heading">Testimonial</h2>
      <div class="first-note">
        <P>There are many variations of passages of Lorem Ipsum available,</P>
        <p>but the majority have suffered alteration.</p>
      </div>
      <div class="second-note">
        <p>“Nulla efficitur nisl sit amet velit malesuada dapibus. Duis mollis felis turpis, nec semper odio</p>
        <p> convallis at.Curabitur imperdiet semper arcu, a finibus arcu suscipit in. Donec quis placerat nibh.</p>
        <p>Maecenas est purus,
          eleifend ac cursus sed, tincidunt ut sapien.</p>
        <p> Morbi ornare elit at libero suscipit porta.”</p>
      </div>
      <div class="end-note">
        <h4 class="author-name">Esther Howard</h4>
        <p class="company-name">Managing Diretor, ABC company</p>
      </div>
      <div class="dots">
        <samp class="dot"></samp>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </section>
