<nav class="flex justify-between items-center py-2.5 px-10 text-base-100">
    <div class="flex items-center font-bold text-xl cursor-pointer">
        <div class="circle flex items-center justify-center rounded-full mr-2 w-7.5 h-7.5">P</div>
        <span class="uppercase"> Portfolio </span>
    </div>
    <div class="flex items-center no-underline gap-6">
        <span class="cursor-pointer">Home</span>
        <span class="cursor-pointer">About</span>
        <span class="cursor-pointer">Process </span>
        <span class="cursor-pointer">Portfolio</span>
        <span class="cursor-pointer">Blog</span>
        <span class="cursor-pointer">Services</span>
        <button class="Contact-button py-2.5 px-6 border-none rounded text-base"> Contact </button>
    </div>
</nav>