<section class="portfolio">
    <div class="portfolio-main">
        <div class="Frame-top">
            <h2>Portfolio</h2>
            <p>There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration.</p>
        </div>
        <div class="project-card">
            <div class="first-project-card">
                <div class="project">
                    <img src="assets/images/Project-Image-1.jpg" alt="Image" class="project-img">
                    <div class="card-frame-one">
                        <div class="card-frame-two">
                            <div class="card-frame-three">
                                <p class="first-line">UI-UX DESIGN</p>
                                <p class="second-line">Product Admin Dashboard</p>
                            </div>
                            <p class="third-line">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet.
                                Donec
                                id
                                imperdiet lacus.</p>
                        </div>
                        <app-button label="Case Study" type="outline" customClass="rounded-lg py-3 px-6"
                            [hoverColorOnly]="false" iconColor="text-blue-500">
                            <ng-container rightIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    class="w-5 h-5 text-[#A53DFF] group-hover:text-white transition"
                                    fill="currentColor">
                                    <path
                                        d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
                                </svg>
                            </ng-container>
                        </app-button>
                    </div>
                </div>
                <div class="project">
                    <img src="assets/images/Project-Image-2.jpg" alt="Img" class="project-img">
                    <div class="card-frame-one">
                        <div class="card-frame-two">
                            <div class="card-frame-three">
                                <p class="first-line">UI-UX DESIGN</p>
                                <p class="second-line">Product Admin Dashboard</p>
                            </div>
                            <p class="third-line">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet.
                                Donec
                                id
                                imperdiet lacus.</p>
                        </div>
                        <app-button label="Case Study" type="outline" customClass="rounded-lg py-3 px-6"
                            [hoverColorOnly]="false" iconColor="text-blue-500">
                            <ng-container rightIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    class="w-5 h-5 text-[#A53DFF] group-hover:text-white transition"
                                    fill="currentColor">
                                    <path
                                        d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
                                </svg>
                            </ng-container>
                        </app-button>
                    </div>
                </div>
                <div class="project">
                    <img src="assets/images/Project-Image-3.jpg" alt="Img" class="project-img">
                    <div class="card-frame-one">
                        <div class="card-frame-two">
                            <div class="card-frame-three">
                                <p class="first-line">UI-UX DESIGN</p>
                                <p class="second-line">Product Admin Dashboard</p>
                            </div>
                            <p class="third-line">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet.
                                Donec
                                id
                                imperdiet lacus.</p>
                        </div>
                        <app-button label="Case Study" type="outline" customClass="rounded-lg py-3 px-6"
                            [hoverColorOnly]="false" iconColor="text-blue-500">
                            <ng-container rightIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    class="w-5 h-5 text-[#A53DFF] group-hover:text-white transition"
                                    fill="currentColor">
                                    <path
                                        d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
                                </svg>
                            </ng-container>
                        </app-button>
                    </div>
                </div>
            </div>
            <div class="second-project-card">
                <div class="project">
                    <img src="assets/images/Project-Image-4.jpg" alt="Image" class="project-img">
                    <div class="card-frame-one">
                        <div class="card-frame-two">
                            <div class="card-frame-three">
                                <p class="first-line">UI-UX DESIGN</p>
                                <p class="second-line">Product Admin Dashboard</p>
                            </div>
                            <p class="third-line">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet.
                                Donec
                                id
                                imperdiet lacus.</p>
                        </div>
                        <app-button label="Case Study" type="outline" customClass="rounded-lg py-3 px-6"
                            [hoverColorOnly]="false" iconColor="text-blue-500">
                            <ng-container rightIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    class="w-5 h-5 text-[#A53DFF] group-hover:text-white transition"
                                    fill="currentColor">
                                    <path
                                        d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
                                </svg>
                            </ng-container>
                        </app-button>
                    </div>
                </div>
                <div class="project">
                    <img src="assets/images/Project-Image-5.jpg" alt="Img" class="project-img">
                    <div class="card-frame-one">
                        <div class="card-frame-two">
                            <div class="card-frame-three">
                                <p class="first-line">UI-UX DESIGN</p>
                                <p class="second-line">Product Admin Dashboard</p>
                            </div>
                            <p class="third-line">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet.
                                Donec
                                id
                                imperdiet lacus.</p>
                        </div>
                        <app-button label="Case Study" type="outline" customClass="rounded-lg py-3 px-6"
                            [hoverColorOnly]="false" iconColor="text-blue-500">
                            <ng-container rightIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    class="w-5 h-5 text-[#A53DFF] group-hover:text-white transition"
                                    fill="currentColor">
                                    <path
                                        d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
                                </svg>
                            </ng-container>
                        </app-button>
                    </div>
                </div>
                <div class="project">
                    <img src="assets/images/Project-Image-6.jpg" alt="Img" class="project-img">
                    <div class="card-frame-one">
                        <div class="card-frame-two">
                            <div class="card-frame-three">
                                <p class="first-line">UI-UX DESIGN</p>
                                <p class="second-line">Product Admin Dashboard</p>
                            </div>
                            <p class="third-line">Vivamus eleifend convallis ante, non pharetra libero molestie laoreet.
                                Donec
                                id
                                imperdiet lacus.</p>
                        </div>
                        <app-button label="Case Study" type="outline" customClass="rounded-lg py-3 px-6"
                            [hoverColorOnly]="false" iconColor="text-blue-500">
                            <ng-container rightIcon>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    class="w-5 h-5 text-[#A53DFF] group-hover:text-white transition"
                                    fill="currentColor">
                                    <path
                                        d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
                                </svg>
                            </ng-container>
                        </app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="project-button-box">
        <app-button label="More Project" customClass="first:mr-[10px] rounded-lg py-3 px-6"></app-button>
    </div>
</section>