<section class="all-contact">
    <div class="contact-page">
      <h2>Let's discuss your project</h2>
      <p>There are many variations of passages of lorem ipsum available,but the majority have suffered alte.</p>
      <div class="personal-info">
        <div class="a-one">
          <img src="./assets/images/location-icon1.png">
          <p><span><strong>Adress:

              </strong>New Maxico 31134</span></p>
        </div>
        <div class="a-two">
          <img src="./assets/images/location-icon2.png">
          <p><span><strong>My email:</strong>mymail mail.com</span></p>
        </div>
        <div class="a-three">
          <img src="./assets/images/location-icon2.png">
          <p><span><strong>call me now:</strong>00-1234 0000</span></p>
        </div>
      </div>
      <div class="online">
        <img src="./assets/images/facebook-icon.png">
        <img src="./assets/images/dribbble-icon.png">
        <img src="./assets/images/instagram-icon.png">
        <img src="./assets/images/behance-icon.png">
        <img src="./assets/images/linkdin-icon.png">
      </div>
    </div>

    <div class="from-info">
      <p class="form-info-text">There are many variation of passages
        of lorem ipsu available
        <span class="break">but the majority have suffered alte </span>
      </p>
      <div class="contact-form">
        <input type="text" placeholder="Name*" required>
        <input type="email" placeholder="Email*" required>
        <input type="text" placeholder="Location">
        <div class="two-group">
          <input type="text" placeholder="budget*" required>
          <input type="text" placeholder="subject*" required>
        </div>
        <textarea placeholder="message*"></textarea>
        <app-button label="Submit" customClass="first:mr-[10px] rounded-lg py-3 px-6">
          <ng-container rightIcon>
            <img src="./assets/images/buttom-arrow.png">
        </ng-container>
        </app-button>
      </div>
    </div>
  </section>
