<section class="flex items-center gap-8 py-0.5 px-1">
    <div class="Hero-stats flex items-center gap-24 flex-col">
      <div class="Hero-text ">
        <h1 class="mb-6 mt-0 font-extrabold">Hello, I’m <br><strong>Subhabrata Roy</strong></h1>
        <p class="mb-8 font-light">I’m a Freelance <strong>UI/UX Designer</strong> and <strong>Developer</strong> based in Kolkata, India.
          I
          strive
          to build immersive and beautiful web applications through carefully crafted code and user-centric design.
        </p>
        <button class="Hero-button text-base border-none rounded-lg py-3 px-8 font-semibold">Say Hello!</button>
      </div>
      <div class="stats flex justify-center gap-2 mr-32">
        <div class="stat-box rounded-lg text-center p-6">
          <h2 class="font-bold mb-2 mt-0 text-xl">15 Y.</h2>
          <p class="mt-0">Experience</p>
        </div>
        <div class="stat-box rounded-lg text-center p-6">
          <h2 class="font-bold mb-2 mt-0 text-xl">250+</h2>
          <p class="mt-0">Project Completed</p>
        </div>
        <div class="stat-box rounded-lg text-center p-6">
          <h2 class="font-bold mb-2 mt-0 text-xl">58</h2>
          <p class="mt-0">Happy Client</p>
        </div>
      </div>
    </div>
    <div class="Hero-img flex justify-center">
      <img class="object-cover rounded-2xl" src="../../../../../assets/images/unsplash_wKOKidNT14w.png" alt="Subhabrata Roy">
    </div>
  </section>
