<footer>
    <div class="footer-contents">
      <div class="flex items-center font-bold text-xl cursor-pointer">
        <div class="circle flex items-center justify-center rounded-full mr-2 w-7.5 h-7.5">P</div>
        <span class="uppercase"> Portfolio </span>
      </div>
      <div class="flex items-center no-underline gap-6">
        <a class="cursor-pointer" (click)="scrollTo('hero')">Home</a>
        <a class="cursor-pointer">About</a>
        <a class="cursor-pointer">Services</a>
        <a class="cursor-pointer" (click)="scrollTo('work-process')">Process</a>
        <a class="cursor-pointer" (click)="scrollTo('portfolio')">Portfolio</a>
        <a class="cursor-pointer" (click)="scrollTo('blog')">Blog</a>
        <a class="cursor-pointer" (click)="scrollTo('contact')">Contact</a>
      </div>
      <div class="copyright-text">
        <span>Copyright © 2025 GTech.</span>
      </div>
    </div>
  </footer>
