<div class="card">
    <h2>
        Do you have project idea?
    </h2>
    <h2 class="idea">
        Let's discuss your project!
    </h2>
    <p>
        There are many variations of passages of Lorem Ipsum available,
    </p>
    <p class="team">
        but the majority have suffered alteration.
    </p>
    <div class="flex justify-center">
        <app-button label="Let's work together" customClass="first:mr-[10px] rounded-lg py-3 px-6">
            <ng-container rightIcon>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="w-5 h-5 text-white"
                    fill="currentColor">
                    <path
                        d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
                </svg>
            </ng-container>
        </app-button>
    </div>
</div>