<section class="px-6 md:px-[73px] relative z-[2]">
    <div class="experience-card flex items-center justify-between">
      <div class="w-[35%] m-[10px]">
        <div class="w-[450pt] h-[500pt] overflow-hidden">
          <img class="w-full h-full object-contain" src="assets/images/unsplash_wKOKidNT14w.png" alt="Brooklyn Gilbert">
        </div>
        <div class="card-social-links">

        </div>
      </div>
      <div class="w-[65%] m-[10px] px-[107pt] py-0">
        <div class="card-text-container">
          <h2 class="text-base-100 text-4xl">I am Professional User Experience Designer</h2>
          <p class="text-base-100 mt-8 font-light text-[#555]">I design and develop services for customer specializing creating stylish, mordern websites, web
            services
            and online stores. My passion is to design digital user experiences.</p>
          <p class="text-base-100 font-light mt-4 text-[#555]">I design and develop servicesfor customer specializing creating stylish, mordern websites, web services
          </p>
        </div>
        <div class="p-[10px] border-0 border-solid border-[#401763] mt-4">
          <button class="bg-[#a855f7] text-white first:mr-[10px] border-none rounded-lg py-3 px-6 font-semibold">My Project</button>
          <button class="text-[#a855f7] border border-[#a855f7] rounded-lg py-3 px-6 font-semibold hover:bg-[#a855f7] hover:text-white transition duration-300">Download CV</button>
        </div>
      </div>
    </div>
  </section>
