<div class="min-h-screen bg-radial-soft px-4 font-segoe">
    <app-header id="hero"></app-header>
    <app-hero-section></app-hero-section>
    <div class="pr-7.5">
        <app-professional-section id="professional"></app-professional-section>
    <app-work-process id="work-process"></app-work-process>
    <app-porfolio id="portfolio"></app-porfolio>
    <app-card-section id="cards"></app-card-section>
    <app-blog-section id="blog"></app-blog-section>
    <app-what-i-do-section id="what-i-do"></app-what-i-do-section>
    <app-happy-client-section id="clients"></app-happy-client-section>
    <app-testimonial-section id="testimonials"></app-testimonial-section>
    <app-all-contact-section id="contact"></app-all-contact-section>
    </div>
    </div>
<app-footer></app-footer>