<section class="blog-section">
    <div class="blog-section-name">
      <h2> Blog</h2>
    </div>
    <p class="blog-section-subtitle">There are many variations of passages of Lorem Ipsum available,<br>
      but the majority have suffered alteration.</p>
    <div class="blog-cards">
      <div class="blog-section-card">
        <img src="assets/images/image.png" alt="Blog one">
        <div class="blog-section-card-info">
          <p class="meta">22 Oct, 2020 / 246 Comments</p>
          <h3 class="blog-section-card-title">Lorem ipsum dolor sit consea. Nulla purus arcu</h3>
        </div>
      </div>

      <div class="blog-section-card">
        <img src="assets/images/6256b708bb0c4a6fd8a44b369112956ce0963c34.jpg" alt="Blog two">
        <div class="blog-section-card-info">
          <p class="meta">22 Oct, 2020 / 246 Comments</p>
          <h3 class="blog-section-card-title">Lorem ipsum dolor sit consea. Nulla purus arcu</h3>
        </div>
      </div>

      <div class="blog-section-card">
        <img src="assets/images/e2b8fe341e5180e7839d7d0d049b6900cd354219.jpg" alt="Blog three">
        <div class="blog-section-card-info">
          <p class="meta">22 Oct, 2020 / 246 Comments</p>
          <h3 class="blog-section-card-title">Lorem ipsum dolor sit consea. Nulla purus arcu</h3>
        </div>
      </div>

      <div class="blog-section-card">
        <img src="assets/images/d85394fd2c31f590ee6e19eb4d05f39feb09abd5.jpg" alt="Blog four">
        <div class="blog-section-card-info">
          <p class="meta">22 Oct, 2020 / 246 Comments</p>
          <h3 class="blog-section-card-title">Lorem ipsum dolor sit consea. Nulla purus arcu</h3>
        </div>
      </div>
    </div>
    <div class="blog-section-dots">
      <samp class="blog-section-dot"></samp>
      <span class="blog-section-dot"></span>
      <span class="blog-section-dot"></span>
    </div>

  </section>
